.alphabetical-category-item {
  outline: 1px solid #dce4ed;
}

.alphabetical-category-item:focus {
  background: #f3f5f8;
}

.alphabetical-category-item:hover {
  background: #f3f5f8;
}

.alphabetical-category-item-selected {
  background: #f1f7fc;
  outline: 1px solid #11abec;
}

.alphabetical-category-content {
  padding: 16px;
}

.alphabetical-category-name-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  background: #f1f7fc;
  border-radius: 16px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #11abec;
  width: fit-content;
}
