.categorie-wording {
  font-family: "Eina03-SemiBold";
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;

  color: #001a25;
}
.categorie-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #636970;
}
