.list-categories-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 16px 24px;
  gap: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 100%;
}

.list-categories-search {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9.5px 9px;
  gap: 8px;

  width: 81%;
  height: 35px;

  background: #ffffff;

  outline: 1px solid #dce4ed;
  border-radius: 4px;
}

.list-categories-search-btn-img {
  width: 14px;
  height: 14px;
}

.list-categories-search-input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  width: 20%;
  height: 30px;
  color: #001a25;

  border: 0;
}

.list-categories-select {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 9px;
  gap: 8px;

  width: 271px;
  height: 35px;

  background: #ffffff;

  border: 1px solid #dce4ed;
  border-radius: 4px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #001a25;
}
