.group-category-item {
  outline: 1px solid #dce4ed;
}

.group-category-item:focus {
  background: #f3f5f8;
}

.group-category-item:hover {
  background: #f3f5f8;
}

.group-category-item-selected {
  background: #f1f7fc;
  outline: 1px solid #11abec;
}

.group-category-content {
  padding: 16px;
}
